.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-file-excel {
  width: 0.78125em;
}

.icon-file-pdf {
  width: 0.78125em;
}

.icon-file-word {
  width: 0.78125em;
}

.icon-help {
  width: 0.59375em;
}

.icon-more-vert {
  width: 0.21875em;
}

.icon-page-double-left {
  width: 0.46875em;
}

.icon-page-double-right {
  width: 0.46875em;
}

.icon-page-left {
  width: 0.3125em;
}

.icon-page-right {
  width: 0.3125em;
}

.icon-saved {
  width: 0.4375em;
}

.icon-tasks-icon {
  width: 1.09375em;
}
