
<div class="slat-avatar item-avatar">
  <span class="ui-icon i-{{document.document_type}} i-xlarge ">
    <svg>
      <use attr.xlink:href="{{'#i-file-' + document.document_type}}" />
    </svg>
  </span>
</div>

<div class="slat-body expand columns">
  <div class="rows"> <!-- slat-header -->
    <div class="columns small-12">
      <h3 class="slat-header">{{document.name}}</h3>
    </div>
  </div>

  <div class="row slat-subtitle"> <!-- slat-title -->
    <div class="columns small-12">
      <p class="slat-title-wrapper">
        <span class="slat-subtitle-prefix">Title:</span>
        <span class="slat-subtitle-text"> {{document.title}}</span>
      </p>
    </div>
  </div>

  <div class="row show-for-medium">
    <div class="columns small-12 medium-6">
      <p class="slat-attr-wrapper">
        <span class="slat-attr-key">Modified By:</span>
        <span class="slat-attr-value"> {{document.modified_by}}</span>
      </p>
      <p class="slat-attr-wrapper">
        <span class="slat-attr-key">Last Modified:</span>
        <span class="slat-attr-value"> {{document.updated_at | date: 'shortDate'}}</span>
      </p>
    </div>

    <div class="columns small-12 medium-6">
      <p class="slat-attr-wrapper">
        <span class="slat-attr-key">Status:</span>
        <span class="slat-attr-value"> {{document.status}}</span>
      </p>
      <p class="slat-attr-wrapper">
        <span class="slat-attr-key">Country:</span>
        <span class="slat-attr-value"> {{document.country}}</span>
      </p>
    </div>
  </div>
</div>

<div class="slat-secondary columns shrink">
  <span *ngIf="document.stared" class="ui-icon i-darker-gray i-sm-medium slat-secondary-icon">
    <svg>
      <use xlink:href="#i-star" />
    </svg>
  </span>
  <span  class="float-right slat-dropdown">
    <span class="ui-icon i-darker-gray i-sm-medium slat-secondary-more">
      <svg>
        <use xlink:href="#i-more-vert" />
      </svg>
    </span>
  </span>
</div>
