.photo-avatar {
  @include scut-size(rem-calc(30));
  border-radius: 50%;
  overflow: hidden;

  img {
    @include scut-size(rem-calc(30));
  }
}

.avatar-initials {
  @include scut-size(rem-calc(30));
  background-color: $darkest-blue;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-size: 0.875rem;
  overflow: hidden;
  position: relative;
  text-align: center;

  &.color-0 {
    background-color: $darker-blue;
  }

  &.color-1 {
    background-color: $dark-green;
  }

  &.color-2 {
    background-color: $red-orange;
  }

  &.color-3 {
    background-color: $purple;
  }
}

.avatar-initials-text {
  @include scut-center-transform();
}

.item-avatar {
  position: relative;

  &.is-circle {
    background-color: $darker-blue;
    border-radius: 50%;
    text-align: center;

    .ui-icon {
      vertical-align: baseline;
      line-height: 1;

      svg {
        vertical-align: top;
      }
    }
  }

  &.has-count {
    .count {
      @include absolute(0, 2px, 0, 0);
      text-align: center;
      font-style: normal;
    }
  }
}
