$color-focus:           #3e94cf;
$color-visited:         #4c2c92;
$color-primary:        $primary;
$color-white:              #fff;
$color-gray:               #ccc;
$color-gray-light:      #efefef;
$color-gray-lighter:       #fff;
$border-radius:   rem-calc(3px);

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-white;
  background-image: none, url('../images/chevron-down.png');
  background-position: right 0 center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

label {
  display: block;
}

/**
 * Custom checkboxes
 */

input[type="checkbox"],
input[type="radio"] {
  @include sr-only();
}

.ie9 {
  input[type="radio"],
  input[type="checkbox"] {
    left: 0 !important;
    position: relative !important;
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  @include scut-margin(n 0.5rem 0.5rem 0);
  cursor: pointer;
  font-weight: $font-weight-semi;
  display: block;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  @include scut-margin(n 0.625rem n n);
  background: $lightest-gray;
  border-radius: rem-calc(1px);
  box-shadow: 0 0 0 1px $light-gray;
  content: '\a0';
  display: inline-block;
  height: 0.625rem;
  line-height: .5;
  text-indent: .15em;
  vertical-align: .2em;
  width: 0.625rem;
}

input[type="radio"] + label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px $light-gray;
  height:.9rem;
  width: .9rem;
}

input[type="radio"] + label::before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: $color-primary;
  box-shadow: 0 0 0 1px $color-primary;
}

input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-primary;
}

input[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-primary, 0 0 3px 4px $color-focus, 0 0 7px 4px $color-focus;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:checked + label + .filter-set-item-count {
  color: $primary;
}

input[type="checkbox"]:checked + label::before {
  background-image: url('../images/check.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 87%;
}

input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 1px $color-white, 0 0 0 3px $color-primary;
}

input[type="checkbox"]:disabled + label {
  color: $color-gray;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  background: $color-gray-lighter;
  box-shadow: 0 0 0 1px $color-gray-light;
  cursor: not-allowed;
}
